<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>


    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}



    <script>
        jQuery(document).ready(function() {
            var members = jQuery(".cfp_team-member");

            // Fisher–Yates shuffle
            var i, j, temp;
            for (i = members.length - 1; i > 0; i--) {
                j = Math.floor(Math.random() * i);
                temp = members[i].innerHTML;
                members[i].innerHTML = members[j].innerHTML;
                members[j].innerHTML = temp;
            }
        });
    </script>

  </body>
</html>
